@{
    ViewBag.Title = "Mantenimiento Alta Medica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administración de Altas Médicas</h2>

<h3>Casos de Uso:</h3>
<ol class="round">
    @*<li class="one">
        <h5>Registrar Alta Médica</h5>
        @Html.ActionLink("Iniciar", "RegistrarAltaMedica", "MantenerAltaMedica")
    </li>*@

    <li class="one">
        <h5>Buscar Alta Médica</h5>
        @Html.ActionLink("Iniciar", "BuscarAltaMedica", "MantenerAltaMedica")
    </li>

</ol>
